h4, h3, h2, h1 {
    	margin: 0px;  
}

ul {
    	list-style: none;
    	text-decoration: none;
    	padding: 0px;
    	margin: 0px;
}

body {
	margin: 0px;
	padding: 0px;
	color: #484848;
	font-size: 14px;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.container {
	max-width: 1000px;
	margin-block: 30px;
	margin-inline: auto;
}
